

.background{
    background-color:#c0c0c05e ;
    position: fixed;
    width:100%;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
}

.linkNavbar{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    margin:auto 2rem;
    text-decoration: none;
    color:white;
}

.logo{
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    padding: 0rem 1.5rem;
    text-decoration: none;
    color:rgb(252, 140, 140);
}

.botonera{
    margin-right:5rem;
    margin-top:top;
}

